Source: subversion-archive
Maintainer: carrvo <carrvo@gmail.com>
Section: devel
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)
Homepage: https://github.com/carrvo/subversion-archive
Vcs-Browser: https://github.com/carrvo/subversion-archive
Vcs-Git: https://github.com/carrvo/subversion-archive

Package: subversion-archive
Architecture: all
Depends: ${misc:Depends}, subversion, bash (>= 5.2.21)
Recommends: subversion-hooks
Homepage: https://github.com/carrvo/subversion-archive
Description: Archiving solution for subversion.
